#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
#message p {
    padding: 10px 35px;
    font-size: 18px;
  }
.valid {
    color: #008000 !important;
  }
.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
.invalid {
    color: #ff0000 !important;
  }
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }